/*Devin's CSS:*/
body {
    background-image: url(../img/background.png);
    background-position: center center;
    text-align: center;
    color: white;
    font-family: 'Coiny', cursive;
}
h1 {
    height: 75px;
    color: white;
    text-decoration: underline;
    font-size: 4em;
}
h1:hover {
    color: gold;
    transition: .3s;
    font-size: 4.3em;
    text-decoration: underline;
}
hr {
    width: 75%;
    border-color: white;
    background-color: white;
    height: 3px;
}
#playerUI {
    border-color: white;
    border-style: dotted;
    width: 1000px;
    padding: 5px;
    border-radius: 20px;
    font-size: 2em;
    color: White;
    vertical-align: middle;
    text-align: left;
    margin: 0 auto;
}
#winner {
    border-color: white;
    border-style: dotted;
    width: 200px;
    border-radius: 20px;
    font-size: 1.3em;
    color: White;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}
#results {
    border-color: white;
    border-style: dotted;
    width: 500px;
    border-radius: 20px;
    font-size: 1.3em;
    color: White;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}
#gap  /*chenyu -- add boarders between players*/
{
    width: 100%;
    border-color: white;
    background-color: gray;
    border-style: dotted;
    border-radius: 20px;
    height: 1px;
}
strong {
    color : grey;
}
input[type=submit] {
    padding: 10px 30px; 
    font-size: 2em;
    text-align: center;
    border: 0 none;
    cursor: pointer;
    border-radius: 10px;
}
input[type=submit]:hover {
    transition: .2s;
    font-size: 2.2em;
}
/*End of Devin's CSS*/

#cardUI{
    float: right;
}