body{
    background-color:black;
    color:gray;
}

hr{
    width: "50%";
}

header, main, nav, footer{
    text-align: center;
}

figure, div{
    float:left;
}

main div{
    text-align:left;
}

nav a{
    padding:15px;
    padding-bottom: 4px;
    font-size:1.8em;
    text-decoration: none;
    color:white;
    width:50%;
}

nav a:hover{
    border-bottom:2px orange solid;
    font-size:2em;
    transition: .9s;
}

#myPicture{
    float:left;
    border-radius:40px;
}

footer{
    clear:left;
    font-size:0.8em;
    color:red;
}

