body{
    background-image: url("../img/school.png");
    background-repeat: no-repeat;
    background-position:center;
}

h1{
    font-size:3em;
    margin-bottom: 0px;
}

header, nav{
    color:yellow;
    text-shadow: 2px 2px 3px black;
}

nav{
    background: black;
}

header, main, nav, footer{
    text-align: center;
}

#mainDiv{
    font-size:1.2em;
    width: 600px;
    border:2px solid black;
    background: white;
    margin: auto;
    text-align: left;
    text-shadow: 2px 2px 3px #3ECDC3;
}

#mainDiv1{
    font-size:1.2em;
    width: 600px;
    border:2px solid black;
    background: white;
    margin: auto;
    text-align: left;
    text-shadow: 2px 2px 3px #3ECDC3;
}

#mainDiv2{
    font-size:1.2em;
    width: 600px;
    border:2px solid black;
    background: white;
    margin: auto;
    text-align: left;
    text-shadow: 2px 2px 3px #3ECDC3;
}

ul.list{
    margin-left:30px;
    margin-right: 60px;
    padding:0;
}

#pictureLeft{
    float:left;
}

#pictureLeft2{
    float:left;
}

#pictureRight{
    float:right;
}

nav a{
    padding:15px;
    padding-bottom: 4px;
    font-size:1.8em;
    text-decoration: none;
    color:white;
    width:50%;
}

nav a:hover{
    border-bottom:2px orange solid;
    font-size:2em;
    transition: .9s;
}

.active {
    border-bottom:2px blue solid;
    font-size:2em;
    color: #94c8c6;
}

#myPicture{
    float:left;
    border-radius:40px;
}

footer{
    clear:left;
    font-size:0.8em;
    color:black;
}

table{
    margin:0px auto;
}

td{
    padding-right:10px;
    font-size:1.3em;
}

td strong{
    color:blue;
}
    
#table-header{
    background-color:#351a00;
}

.table-row{
    background-color:#753900;
}

ul{
    text-align: left;
    padding-left:200px;
}